*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header */
.navbar-collapse {
justify-content: flex-end;
}
.img-fluid{
    width: 2500px;
}
.btn-primary{
    background-color: #9dcacc;
    border-block-color: #9dcacc;
    --bs-btn-border-color: #9dcacc;
    --bs-btn-hover-bg: #789a9c;
    --bs-btn-hover-border-color: #789a9c;
}

/* titulo */
.titulo1{
    font-size: 69px;
    background-color: beige;
    opacity: 0.8;
    margin-right: 200px;
    margin-left: 200px;
} 
.subtitulo{
    background-color: beige;
    opacity: 0.8;
    margin-right: 200px;
    margin-left: 200px;
}
.titulo2{
    text-align: center;
    background-color: #9dcacc;
    font-size: 44px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(imagenes/rutina-de-skincare-mobile.jpg);
}
.banner-container{
    text-align: center;
    padding: 20% 0;
}

/* Productos section*/

input{
    margin-top: 40px;
    margin-left: 79px;
    padding-left: 20px;
    padding-right: 20px;
}
#contenedor-productos{
    justify-items: center;
}
.buscador{
    display: flex;
    align-items: center;
}
.selector{
    display: flex;
}
.card-img-top{
    height: 285px;
}
.producto{
    padding-top: 40px;
    padding-bottom: 20px;
}
/* Carrito */
.modal-contenedor{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.img-carrito{
    width: 200px;
    padding: 20px;
}
.precioTotal{
    padding-right: 38px;
}
/* Mediaqueries */
@media only screen and (max-width:1200px){
    #contenedor-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5vw;
    }
}
@media only screen and (min-width:1200px){
    #contenedor-productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width:600px){
    #contenedor-productos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
